<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bec9b21f43.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>
    <div id="header">
        <header id="body-header">
            <!-- <div id="site-logo"><i class="fas fa-music"></i></div> -->
            <!-- <div id="site-name"><span class="name1">Vasav</span> <br><span class="name2">Studio</span></div> -->
            <img src="/images/Group 19.png" height="50px" width="130px" id="logo">
            <div id="search"><a class="btn" href="#"><i class="fas fa-search"></i></a><input class="input-box"
                    type="text" name="input" placeholder="Search"><a class="switch" href="#"></a></div>
            <!-- <div id="notification"><a href="#"><i class="fas fa-bell"></i></a></div> -->
            <!-- <div id="userprofile"><a href="#"><i class="fas fa-user-circle"></i></a><div> -->
                <button class="loginbutton"><a href="/user/login"><% if(user){ %>
                    <%= user.name %>
                  <% } else{ %>  
                    Login
                 <% } %></a>
            </button>
            <button id="signoutbutton" onclick="signout()"> 
                Signout
            </button>
        </header>
    </div>
    <div id="products">
       
            <% for(let i=0;i<products.length;i++){ %>
                <div class="option1"><button class="opt1" onclick="window.location.href='/product/<%= products[i]._id%>'"><img style="border-radius: 10px;" width="80%"
                    height="80%" src="<%= products[i].imageUrl %>">
                <p><%= products[i].name %></p>
                <p><%= products[i].description %></p>
                <p><%= products[i].price %></p>
            </button></div>
            <% } %>
    </div>
</div>
    <div id="footer">
        All Rights Reserved | 2022 | Store.com
    </div>
</body>
<script src="/javascript/homepage.js"></script>
</html>